body{
    background-color:#ff8c66;
    text-align: center;
}

.heading{
    font-size: 60px;
    text-align: center;
}
.paragraph{
    text-align: center;
}
.d1{
    text-align: end;
    font-size: large;
}
.D1{
    margin: 20px;
    padding-top: 10px;
    height: 500px;
    width: 300px;
    display: inline-block;
    font-size: larger;
    border-color: rgb(15, 15, 15);
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 30px 3px rgb(7, 7, 7);}
.d1 :hover{
    transition: 1s;
    border-radius: 50%;}